*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-background);
  transition: color 300ms ease, background 300ms ease;
  scroll-behavior: smooth;
}
body {
  line-height: calc(1em + 0.825rem);
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('/font/syht/webfont.eot'); /* IE9 */
  src: url('/font/syht/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/font/syht/webfont.woff2') format('woff2'),
  url('/font/syht/webfont.woff') format('woff'), /* chrome、firefox */
  url('/font/syht/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('/font/syht/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
:root {
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
  --font-family: "webfont",Futura,-apple-system,sans-serif;
  --font-family-mono: Helvetica;
  --font-family-spicy: "Sriracha","Wotfard",Futura,-apple-system,sans-serif;
  --reach-dialog: 1;
}